<header>
  <div class="navbar bg-gray">
    <a href="/">
      <img src="img/logo.png" alt="logo" class="logo" id="logo-header">
  </a>
    <ul class="links font-weight-bold">
      <li class="px-xl-5"><a href="#">новости</a></li>
      <li class="px-xl-5"><a href="#">faq</a></li>
      <li class="px-xl-5"><a href="#">поддержка</a></li>
      <li class="px-xl-5"><a href="#">гарантия</a></li>
      <li class="px-xl-5"><a href="#">оплата</a></li>
    </ul>
    <a href="tel:+380981000700" class="text-decoration-none text-nowrap">
            <div class="mobile px-sm-4">
                <div class='mob'><i class="fas fa-phone-alt mr-2"></i>(---) 1000-700</div>
            </div>
        </a>
    <div class="toggle">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</header>