/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    outline: none;
    border: none;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    padding: 0 30px;
    margin-bottom: 50px;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    // border: 1px solid transparent;
}
// .slick-arrow.slick-hidden {
//     display: none;
// }
.slick-dots li {
    list-style: none;
  }
  .slick-dots li button {
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    margin: 10px;
    list-style: none;
    background: url(../img/off.png) no-repeat 0 0 / contain;
    @media screen and (max-width: 648px) {
        display: none;
   
     }
}
.slick-dots li button:hover {
    background: url(../img/on.png) no-repeat 0 0 / contain;
  
}
.slick-dots {
    transform: rotate(-90deg);
    position: absolute;
    left: 47%;
    top: -20%;

}
.slider-fotos .slick-dots {
    transform: rotate(-90deg);
    position: absolute;
    left: 47%;
    top: -13%;

}
.next, .prev {
    outline: none;
    vertical-align: middle;
    margin-top: 15px;
    @media screen and (max-width: 648px) {
        margin-bottom: 15px;
    }
}

.prev2 {
    position: absolute;
    left: 5%;
    top: 45%;
    z-index: 2;
    outline: none;
    @media screen and (max-width: 1300px) {
        left: 0;
  
    }
    @media screen and (max-width: 590px) {
        left: 12%;
  
    }
}
.next2 {
    position: absolute;
    right: 5%;
    top: 45%;
    z-index: 2;
    outline: none;
    @media screen and (max-width: 1300px) {
        right: 0;
  
    }
    @media screen and (max-width: 590px) {
        right: 8%;
  
    }
}
